<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Wao_Singup>
            <version>0.1.0</version>
        </Wao_Singup>
    </modules>
    <frontend>
        <routers>
            <singup>
                <use>standard</use>
                <args>
                    <module>Wao_Singup</module>
                    <frontName>singup</frontName>
                </args>
            </singup>
        </routers>
        <layout>
            <updates>
                <singup>
                    <file>wao/singup.xml</file>
                </singup>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <singup>
                <class>Wao_Singup_Block</class>
            </singup>
        </blocks>
        <helpers>
            <singup>
                <class>Wao_Singup_Helper</class>
            </singup>
        </helpers>
        <models>
            <singup>
                <class>Wao_Singup_Model</class>
                <resourceModel>singup_mysql4</resourceModel>
            </singup>
            <singup_mysql4>
                <class>Wao_Singup_Model_Mysql4</class>
                <entities>
                    <singup>
                        <table>fp_front_users</table>
                    </singup>
                </entities>
            </singup_mysql4>
        </models>
        <resources>
            <singup_setup>
                <setup>
                    <module>Wao_Singup</module>
                </setup>                
                <connection>
                    <use>core_setup</use>
                </connection>
            </singup_setup>
            <singup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </singup_write>
            <singup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </singup_read>
        </resources>
    </global>
</config>